head{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: darkslategrey;
    font-family: sans-serif;
}

h1{
    position: relative;
    font-size: 30px;
    color: whitesmoke;
    font-weight: 500;
    margin-bottom: 5px;
    white-space: pre-line;
    
}

#form{
    position: relative;
}

#form #email{
    width: 400px;
    background-color: darkgrey;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;


}

#form #container{
    position: relative;
}

#text{
    display: block;
    color: black;
    font-weight: 500;
    font-weight: 300;
    font-style: italic;
    padding: 5px;
}

#form.invalid #container::before{
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    height: 24px;
    width: 24px;    
}

#form.valid #container::before{
    content: '';
    position: absolute;
    right: 12px;
    top: 12px;
    height: 24px;
    width: 24px;    
}